# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# signing / credentials
*.key
*.p8
*.p12
*.mobileprovision
google-services.json
GoogleService-Info.plist

# editor
.vscode/
.idea/

# EAS
.eas/
.vercel
